
button {
  font-size: 1rem;
  height: 2.5rem;
  border: 1px solid whitesmoke;
  background: dodgerblue;
  color: white;
}

button:hover {
  color: dodgerblue;
  background: whitesmoke;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
}

.screen {
  font-size: 2.5rem;
  text-align: right;
  background: #004068;
  color: white;
}

.numbers {
  grid-area: number; 
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.operators {
  grid-area: operator;
  display: grid;
  grid-template-columns: 100%;
}

.equals {
  grid-area: equals;
  width: 100%;
}

.buttons {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-areas: 
    "number operator"
    "equals equals"
  ;
}